@model Job_Offers_Website.Models.Job

@{
    ViewBag.Title = "التفاصيل";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>التفاصيل</h2>

<div>
    <h4>Job</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JObTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JObTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobImage)
        </dt>

        <dd>
            <img src="~/Uploads//@Html.DisplayFor(model=>model.JobImage)"
                 class="thumbnail" style="width:128px;height:128px;" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("التقدم الى هذة الوظيفة", "Apply", new { id = Model.Id },new {@class="btn btn-success"}) |
    @Html.ActionLink("العودة الى القائمة الرئيسية", "Index" , new { @class="btn btn-default"})
</p>
